.prices {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.prices__item {
  display: flex;
  flex-direction: column;

  cursor: pointer;

  justify-content: center;
  align-items: center;

  font-size: 50px;
  color: green;
  min-width: 150px;
}

.prices__item_buy {
  color: red;
}